<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}
         Welcome
        {% endblock title %}</title>
        {% include 'snippets/css.html' %}

    </head>
    <body>
        {% include 'snippets/navbar.html' %} 
        <div class="container">
        {% block content %}

            <h1 class="text-center">Hello World</h1>
        
        {% endblock content %}       
        </div>
              
        {% include 'snippets/js.html' %}
        
    </body>
</html>
